*{
    font-family: 'Arial';
}

h1 {
    text-align: center;
    font-size: xx-large;
}

.box {
    border-width: 3px ; 
    border-style: solid ; 
    border-color: #000000 ;
    margin: 5px ;
    padding: 5px ;
    width: 15%;
    float: left
}

br{
    clear:both ;
    line-height: 20vh
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#f10202;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#f10202;
    color:#fff;
}

table {
    margin: 0 auto;
    font-size: large;
}

th,
    td {
        font-weight: bold;
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    td {
        font-weight: lighter;
    }
